<div class="dataTable">
  <div class="button-group">
    <button class="addButton" (click)="addStudent()">Add</button>
    <button class="deleteButton" [hidden]="checkedItemCount==0" (click)="deleteStudent()">Delete</button>
  </div>
  <div class="table">
    <table>
        <th>
            <input type="checkbox" [checked]="isCheckAllItems" (click)="checkAll($event)">
        </th>
        <th>
          ID
        </th>
      <th *ngFor="let rowName of columns">
        <!-- <span *ngIf="rowName === 'Id'">
          <input type="checkbox" [checked]="isCheckAllItems" (click)="checkAll($event)">
        </span> -->
        {{rowName}}
      </th>

      <tr *ngFor="let stud of student;let i=index;">
        <td>
          <input type="checkbox" [checked]="isCheckAllItems" (click)="checkSingle($event, i)">
        </td>
        <td>{{i+1}}</td>
        <td *ngFor="let row of columns">
          <!-- <span *ngIf="row === 'Id'">
            <input type="checkbox" [checked]="isCheckSingleItem" (click)="checkSingle($event, i)">
          </span> -->
            <span>{{stud[row]}}</span>
          <span class="icon" *ngIf="row === 'Firstname'">
            <img src="../../../../assets/Icons/editIcon.png">
          </span>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <hr>
  <app-inline-edit></app-inline-edit>
</div>
<app-add-modal [displayChild]="displayModal" (hideModal)="cancelModal($event)" (sendFormValues)="receiveValues($event)"></app-add-modal>
