.dataTable {
  font-family: Comforta;
  font-size: 10pt;
  z-index: 10;
  margin: 10%;
  margin-left: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}

table, th, td, tr {
  border: 1px solid #F2F6F7;
  text-align: left;
  margin-top: 28px;
  margin-left: 16px;
}

th {
  color: #B4BBBF;
  font-size: 10pt;
  padding-left: 8px;
}

td {
  position: relative;
  padding-left: 8px;
}

.table {
  overflow-x: auto;
}
::-webkit-scrollbar {
  /* width: 4px; */
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D1E6E5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D1E6E5;
}

.button-group {
  margin-top: 50px;
}

.addButton {
  /* position: fixed; */
  width: 80px;
  background-color: #0076a9;
  color: white;
  font-size: 16px;
  /* border-radius: 4px; */
  border: #0076a9;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: none;
}

.deleteButton {
  /* position: absolute; */
  width: 80px;
  background-color: #0076a9;
  color: white;
  font-size: 16px;
  border: #0076a9;
}

img {
  width: 18px;
}

.icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

hr{
  color: #F2F6F7;
  position: relative;
}
