.container {
  /* background-color: thistle; */
  /* margin-top: 20%; */
  display: flex;
  align-items: flex-start;
}
.wrong {
  outline: none;
  /* border:none; */
  color: white;
  background-color: red;
  border-color: red;
  border-radius: 4px;
  margin-right: 8px;
  margin-left: 8px;
  height: 28px;
  width: 28px;
}

.right {
  outline: none;
  /* border: none; */
  color: white;
  background-color: #0076a9;
  border-color: #0076a9;
  border-radius: 4px;
  height: 28px;
  width: 28px;
}

input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #B4BBBF;
}

input:focus {
  border-bottom: 2px solid #0076a9;
}

img {
  width: 24px;
}
