#container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

div.header {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 10;
  background-color: #F2F6F7;
  padding:20px;
  text-align: center;
}

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F2F6F7;
  padding:20px;
  text-align: center;
}
