<div id="container">

  <div class="header">
    Header
  </div>
    <app-data-table ></app-data-table>
    <!-- <app-add-modal></app-add-modal> -->
  <div class="footer">
    Footer
  </div>

</div>
