<!-- <button style="margin-top:10%;" (click)="showModal()">
  Add
</button> -->
<div class="container" *ngIf="displayChild">
  <header>
    <h3>Add Student</h3>
  </header>
  <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <label>First Name</label>
        <input type="text" formControlName="Firstname" minlength="5">
      </div>
      <!-- <div *ngIf="userForm.controls['Firstname'].invalid &&
                      (userForm.controls['Firstname'].dirty || userForm.controls['Firstname'].touched)">
        <div class="alert" *ngIf="userForm.controls['Firstname'].errors.required">
          First name is required.
        </div>
        <div class="alert" *ngIf="userForm.controls['Firstname'].errors.minlength">
          Name must be atleast 5 characters long
        </div>
      </div> -->
    </div>
    <div>
      <div>
        <label>Last Name</label>
        <input type="text" formControlName="Lastname">
      </div>
      <!-- <div *ngIf="userForm.controls['Lastname'].invalid &&
                        (userForm.controls['Lastname'].dirty || userForm.controls['Lastname'].touched)">
        <div class="alert" *ngIf="userForm.controls['Lastname'].errors.required">
          Last name is required.
        </div>
      </div> -->
    </div>
    <div>
      <div>
          <label>Age</label>
          <input type="text" formControlName="Age">
      </div>
    </div>
    <div>
        <div>
            <label>Gender</label>
            <input type="text" formControlName="Gender">
        </div>
      </div>
    <div>
      <div>
          <label>School Name</label>
          <input type="text" formControlName="Schoolname">
      </div>
    </div>
    <div>
      <div>
          <label>College Name</label>
          <input type="text" formControlName="Collegename">
      </div>
    </div>
    <div>
      <div>
          <label>Date Of Birth</label>
          <input type="text" formControlName="DOB">
      </div>
    </div>
    <div class="footer">
      <button class="cancelButton" type="button" (click)="cancel($event)">cancel</button>
      <button class="saveButton" type="submit">Save & Apply</button>
    </div>
  </form>
</div>
