.container {
  width:800px;
  /* z-index: 10; */
  font-family: Comforta;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #0076a9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

.saveButton {
  position: relative;
  margin-left: 4px;
  border-radius: 2px;
  border: #1e69da;
  background-color: #1e69da;
  color: white;
  /* padding: 8px; */
  /* font-size: 12pt; */
}

.cancelButton {
  background-color: #0076a9;
  border: #0076a9;
  color: white;
  /* padding: 8px; */
  font-size: 12pt;
}

.cancelButton:hover {
  text-decoration: underline;
}

.saveButton :focus {
  border: none;
}

form input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #0076a9;
  background-color: white;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #B4BBBF;
  width: 50%;
  padding: 12px 20px;
}

label {
  color: #B4BBBF;
}

